:root {
  --header-height: 4rem;
  --padding-x: 1rem;
  --gray: #ddd;
  --black: #111;
  --white: ghostwhite;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  background-color: var(--black);
  font-family: sans-serif;
}

body > * {
  background-color: var(--gray);
}

.header {
  height: var(--header-height);
  display: flex;
  flex-wrap: wrap;
  background-color: var(--black);
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.5);
  padding-inline: var(--padding-x);
}

.header :is(.header__hamburger, a, a:visited, a:active) {
  color: var(--white);
  text-decoration: none;
}

.header__nav a:hover {
  text-decoration: underline;
}

.header__hamburger {
  height: 100%;
  display: grid;
  place-items: center;
}

.header__nav {
  margin-right: auto;
}

.header__nav ul {
  margin: 0;
  padding: 0 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  list-style: none;
  height: 100%;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.header__actions button {
  border-style: none;
  background-color: var(--black);
  color: var(--white);
  height: 1.5rem;
  transition: background-color 500ms, color 500ms;
}

.search {
  display: flex;
  overflow: hidden;
  background-color: var(--white);
}

.search__input {
  display: flex;
  align-items: center;
  width: 20rem;
  max-width: 0;
  height: 1.5rem;
  border-style: none;
  padding: 0;
  background-color: transparent;
  transition: max-width 500ms;
  overflow: hidden;
}

.search__input:focus {
  outline: none;
}

.search.visible {
  border-radius: 1rem 5px 5px 1rem;
}

.search.visible .search__input {
  max-width: 20rem;
  padding-inline: 1rem;
}

.search.visible:has(.search__input:focus) {
  box-shadow:
    0 0 0 1px black,
    0 0 0 2px white;
}

.search.visible .search__button {
  background-color: transparent;
  color: var(--black);
}

.pageHeader {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--padding-x);
  color: var(--black);
}

.pageHeader__title {
  font-size: 1.5rem;
}

.pageHeader__path span:nth-of-type(1) {
  color: dodgerblue;
}

.tr {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid var(--gray);
  border-width: 1px 0;
}

.tr > * {
  display: flex;
  align-items: center;
  padding: 0.5em;
  flex: 100%;
  word-break: break-all;
}

.employees {
  border-radius: 8px;
  border: 1px solid var(--gray);
  margin-inline: var(--padding-x);
  background-color: var(--white);
}

.employees__header {
  font-weight: bold;
  display: none;
}

.employees__employee__name {
  font-weight: bold;
}

.employees__employee .label {
  font-weight: bold;
  padding-right: 0.5em;
}

.pagination ul {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0;
  padding: 0;
  list-style: none;
}

.pagination li button {
  --button-bg: #eee;

  width: 2em;
  height: 2em;
  border-radius: 1em;
  border: 1px solid transparent;
  background-color: var(--button-bg);
}

.pagination li button:active {
  border: 1px inset silver;
}

.pagination li button:hover {
  background-color: var(--button-bg);
}

.pagination li.active button {
  font-weight: bold;
  pointer-events: none;
  background-color: powderblue;
}

.footer {
  background-color: var(--black);
  color: white;
  height: var(--header-height);
  margin-top: 2rem;
  padding-inline: var(--padding-x);
  font-size: 0.75rem;
  box-shadow: 0 -2px 4px rgb(0, 0, 0, 0.5);
}

.footer > p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer > p > a {
  display: inline-grid;
  place-items: center;
  margin-block: var(--padding-x);
}

@media (min-width: 720px) {
  .tr {
    display: grid;
    grid-template-columns: repeat(4, 25%);
  }

  .tr > * {
    border: 1px solid var(--gray);
    border-top-width: 0;
  }

  .tr button {
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    font-size: inherit;
  }

  .sort {
    position: relative;
  }

  .sort > * {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .sort__none {
    color: silver;
  }

  .employees__employee .label {
    display: none;
  }

  .employees__employee__name {
    font-weight: normal;
  }
}